*{

margin: 0;


}
.header{
    display: flex;
    background-image:linear-gradient(green,yellow);
    padding: 2px;
    justify-content: center;
  }
  html{
    scroll-behavior: smooth;
  }

  #head{
    font-family:algerian;
  }
  .whole-html{
    border:2px solid black;
    background-color:orange;
   
  }
  .whole-body{
    padding: 0rem 3px;
  }
  
  
  .grid-one{
    display:inline-block;
    border: 2px solid black;
    background-color: whitesmoke;
    padding:10px;
    
  }
  .skill-grid{
    display: flex;
    text-align: left !important;
    text-align: left;
    border: 3px solid;
   
   gap: 2rem;
   background-color: whitesmoke;
  }

  .stud-edu{
    border: 5PX SOLID BLUE;
    background-color:whitesmoke;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    line-height: 3rem;
   
  }
.ten{
    border-right:2px solid black;
    padding-bottom: 5px;
}
.twelve{
    border-right:2px solid black;
    padding-bottom: 5px;

}
.BE{
  border-right:2px solid black;
  padding-bottom:2px;
  

}
.table-bordered{
  margin-left: 2%;
  font-size: 14px;

}
.image{
  margin-left: 80%;
}

.mail{
  color:blue;
  font-style: italic;
  text-decoration: underline;
}

#work{
    border:2px solid black;
    padding: 5px;
    background-color:whitesmoke;
}
li{
  list-style-type:disc;
  text-align:left !important; 
  gap: 4rem !important;
  
}
  .bar 
   {
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    column-gap: 3rem;
    row-gap: 4rem;
    background-color:whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    
  }
  .order{
   text-align:left; 
gap: 4rem !important;
padding-bottom: 2rem;


  }

@media only screen and (min-width:550px)  and (max-width:900px){
  .table-bordered{
    margin:0% 2%  0% 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
  ten{
    border-right:2px solid black;
    padding-bottom: 5px;
    
}
.twelve{
    border-right:2px solid black;
    padding-bottom:1px;

}
.BE{
  border-right:2px solid black;
  padding-bottom:2px;
}
.image{
  margin-left: 70%;
}
}






@media only screen and (min-width:100px) and (max-width:600px){
 
  
  
  ten{
    border-right:2px solid black;
    padding-bottom: 5rem;
    
    
}
.twelve{
    border-right:2px solid black;
    padding-bottom:5px;
   

}
.BE{
  border-right:2px solid black !important;
  margin-bottom:2rem !important;
  
  
 
}

.image{
  margin-left: 56%;
  border-radius: 2rem;
}

.mail{
  color:blue;
  font-style: italic;
  text-decoration: underline;
}

#work{
    border:2px solid black;
    padding: 5px;
    background-color:rgb(240, 239, 239) !important;
}
  .bar 
   {
    margin-left: 0%;
    background-color:whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    
  }
  .order{
    list-style: circle;
  }
.table-bordered{
  display:flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin:1rem 10rem 1rem 10rem;
 
  
}
.table-bordered .stud-edu{
  display:flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem 0rem 0.2rem ;
  margin:0rem 10rem 0rem 11rem;
  line-height:1.5rem;
  row-gap: 1rem !important;
  font-size:11px !important;
  
}


}


